body { background: #e86744; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 55px; display: flex; }
.block-cache-0 { color: #70b9f9; font-size: 20px; margin-bottom: 5px; }
.block-router-1 { color: #a3ce45; font-size: 21px; margin-bottom: 5px; }
.block-sms-2 { color: #eb7d4f; font-size: 20px; margin-bottom: 5px; }
.block-email-3 { color: #21a48a; font-size: 12px; margin-bottom: 5px; }
.block-order-4 { color: #457fc6; font-size: 17px; margin-bottom: 5px; }